//UI STYLES
@import "./base/settings.scss";

@font-face {
  font-family: "Proxima_Nova";
  src: url('./font/proximanova-light.woff2');
}
//COMPONENTS
@import "./components/PrivateLayout.scss";
@import "./pages/Home.scss";
@import "./pages/ResultSearch.scss";
@import "./components/Paginator.scss";
@import "./pages/DetailsItem.scss";
//PAGES

:root {
  * {
    font-family: "Proxima_Nova", -apple-system, Helvetica Neue, Helvetica,
      Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
body {
  display: block;
  margin: 0;
}
